.modal{
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.75);
    color: black;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display:flex;
}
.modal-container{
    position: relative;
    padding: 1rem;
    min-width: 320px;
    max-width: 480;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    background-color: white;
}
.modal-close{
    position: absolute;
    top: 1rem;
    right:1rem;
    background-color: #da0c0c;
    color: white;
    cursor: pointer;
    width: 10vm;
    height: 5vh;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
}

.button{
    margin: 5px;
    cursor: pointer;
    width: 10vm;
    height: 5vh;
    background-color: rgb(18, 114, 240);
    color: white;
    border: none;
    border-color: rgb(18, 114, 240);
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
  }

  .titulo{
    color: #fdee1f;
  }