.App {
  text-align: center;
}
.pokedex{
  background-color: crimson;
  color: #e7e7e7;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.poke-image{
  height: 40vmin;
  pointer-events: none;
}

.flex-container{
  display: flex;
  flex-direction: row;
}
.pokedex-screen{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
}
.button{
  margin: 5px;
  cursor: pointer;
  width: 10vm;
  height: 5vh;
  background-color: #fdee1f;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.titulo{
  color: #fdee1f;
}
.none{
  color: #da0c0c;
}

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e7e7e7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
